.offer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    padding: 0 80px;
       background: linear-gradient(135deg, #9cb9ef, #cad3e2, #6dd5fa);
}

.offer-left {
    flex: 1;
}

.offer-left h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
}

.offer-left p {
    margin-top: 20px;
    font-size: 18px;
    color: gray;
}
.offer-left button {
    margin-top: 30px;
    padding: 12px 40px;
    background: red;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.offer-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.offer-right img {
    width: 350px;
}