.banner img {
    width: 80%;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

.banner_text {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_text span {
    font-weight: 600;
}

.sort_category {
    padding: 0px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.sort_category img {
    width: 12px;
    height: 7px;
}

.shopCategory-products {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.item img{
    width: 270px;
}
.btn{
    /* justify-content: center;
    text-align: center; */
    color: black;
    border: none;
}
.btn button{
    background-color: #ededed;
    border: none;
    color: #787878;  
    height: 40px;
    width: auto;
    border-radius: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px auto;
}