.productDisplay {
    display: flex;
    /* margin-top: 20px; */
    width: 70%;
    margin: 70px auto;
}

.leftImages img {
    height: 120px;
    width: 100px;
    display: block;
    margin: 10px;
}

.product-main-image img {
    height: 510px;
    width: 400px;
    margin-top: 10px;
}

.rightDisplay {
    margin-top: 10px;
    margin-left: 30px;
    line-height: 25px;
}

.rightDisplay h1 {
    font-weight: 550;
    font-size: 25px;
    line-height: 35px;
}

.StarImg {
    display: flex;
    gap: 5px;
    align-items: center;
}

.StarImg img {
    width: 15px;
    height: 15px;
}

.StarImg p {
    font-size: 12px;
}

.priceDetails {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.old_price {
    text-decoration: line-through;
    color: grey;
}

.new_price {
    color: darkred;
    font-weight: bold;
}

.pro p {
    margin-top: 20px;
}

.sizeBox h4 {
    margin-top: 20px;
}

.sizes {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.sizes div {
    width: 60px;
    height: 60px;
    background: white;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    transition: 0.3s;
}

.sizes div:active {
    opacity: 0.2;
    transform: scale(0.97);
}

.sizes div:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.addToCartBtn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.addToCartBtn button {
    padding: 10px;
    color: white;
    height: 40px;
    width: 150px;
    background-color: red;
    border: none;
}

.category {
    display: flex;
    gap: 7px;
}

.category p {
    font-weight: 200;
}

.category,
.tag {
    margin-top: 10px;
}

.category,
.tag span {
    font-weight: bold;
}

.addToCart_btn {
    transition: 0.3s;
}

.addToCart_btn:active {
    opacity: 0.6;
    transform: scale(0.97);
}