.checkout-steps {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
    font-weight: 500;
}

.inside_shipping,
.inside_payment,
.inside_review,
.inside_place-order {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 100%;
}