body {
    background: #f8fafc;
}

.profile_page {
    height: auto;
    width: 400px;
    background: white;
    border: 1px solid #e5e7eb;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
}

.profile_logo {
    display: flex;
    gap: 20px;
}

.profile_logo p {
    margin-top: 10px;
}

.profile {
    margin-left: 70px;
    line-height: 30px;
}

.eml {
    font-size: 20px;
    color: grey;
}

.my_order {
    margin-top: 20px;
    height: 50px;
    width: 150px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.profile_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding: 20px;
    width: 70%;
}
.logout img{
    width: 30px;
    height: 30px;
}
.logout{
    margin-top: 20px;
}
.logout button{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 5px;
    border: none;
    border-radius:10px;
}
.logout span{
    font-size: 20px;
    color: grey;
}